html, body {
  margin: 0;
  padding: none;
  max-width: fit-content;
}

.hidden {
  display: none;
}

a {
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.hidden {
  opacity: 0;
}

textarea:focus, input:focus{
  outline: none;
}

